<html>
 <head>
    <meta charset="utf-8">
   <title>Leaderboard</title>
 </head>
  
  
<body>
  <h1>Classement/Leaderboard</h1>
  
  
  <div>
    <tr>
      {% if (lang == "fr") %}
      <th>Classe</th>
      <th>Score Total</th>
      <th>Score Moyen</th>  
      {% endif %}
    </tr>

    <tr>
      {% for x in eleves %}
      <td>
        
      </td>
      {% endfor %}
    </tr>
  </div>
  
  <script>
    
const text = document.getElementById("hidden");    
    
var li_str = text.split('{');
    


  </script>
  
</body>
  
  
</html>
