<html>


<head>
<script>
  
function bla(){
  
  document.write("<div>hello</div>");
  
  let i = 0;
  
  while (i < 10) {
  document.write("  <div id = 'question i'><form> <p>question numero" + i + "</p><select>description<option>option 1</option></select></form></div>");
  i++;
  }
}


</script>

 
</head>
  
  
  
<body>

<p onclick = 'bla()'>click me</p>

</body>
  
  
  <div>
    <form> <p>question numero i</p>
    <input type="radio" id="1" name="q1" value="1">
    <label for="1">1</label><br>
    <input type="radio" id="2" name="q1" value="2">
    <label for="2">2</label><br>
    <input type="radio" id="3" name="q1" value="3">
    <label for="3">3</label>
  </select>
    </form>
  </div>
  
  
  
</html> 
